In [1]:
import numpy as np
import pandas as pd

In [2]:
#load data file
data = pd.read_csv('F:/8TH SEM/CO425-FYP/England/England.csv')

In [3]:
data.head()

,InnigsID,dn,country,p1,p1-s,p2,p2-s,p3,p3-s,p4,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,1022,DN,England,IR Bell,0,MM Ali,22,JWA Taylor,0,JE Root,...,JC Buttler,28,CR Woakes,8,CJ Jordan,17,SCJ Broad,0,ST Finn,0
1,1033,DN,England,IR Bell,88,MM Ali,8,JWA Taylor,56,JE Root,...,JC Buttler,0,CR Woakes,0,SCJ Broad,0,JM Anderson,0,ST Finn,0
2,1040,DN,England,MM Ali,46,IR Bell,141,JWA Taylor,5,JE Root,...,RS Bopara,7,CR Woakes,0,SCJ Broad,0,JM Anderson,0,ST Finn,0
3,1049,D,England,IR Bell,10,MM Ali,17,JWA Taylor,82,JE Root,...,JC Buttler,67,CR Woakes,4,SCJ Broad,3,JM Anderson,0,ST Finn,0
4,1054,D,England,MM Ali,26,IR Bell,8,JWA Taylor,4,JE Root,...,JC Buttler,17,CR Woakes,0,SCJ Broad,24,ST Finn,6,JM Anderson,5

In [4]:
x = set()

In [5]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)
len(x)

{'TS Roland-Jones', 'DJ Willey', 'CR Woakes', 'JC Buttler', 'JWA Taylor', 'LA Dawson', 'AU Rashid', 'EJG Morgan', 'SM Curran', 'RJW Topley', 'DJ Malan', 'MA Wood', 'BM Duckett', 'IR Bell', 'C Overton', 'JC Tredwell', 'CJ Jordan', 'RS Bopara', 'JM Bairstow', 'JT Ball', 'SW Billings', 'AD Hales', 'BA Stokes', 'GS Ballance', 'JC Archer', 'MM Ali', 'JE Root', 'BT Foakes', 'JJ Roy', 'T Banton', 'LE Plunkett', 'JL Denly', 'TK Curran', 'S Mahmood', 'JM Anderson', 'OP Stone', 'MW Parkinson', 'ST Finn', 'SCJ Broad', 'JM Vince'}

40

In [8]:
import itertools 
# def findsubsets(s, n): 
def findsubsets(s, n): 
    return [set(i) for i in itertools.combinations(s, n)]

In [9]:
# print(findsubsets(x,2))

In [10]:
# len(findsubsets(x,2))

In [11]:
# print(findsubsets(x,3))

In [12]:
# len(findsubsets(x,3))

In [13]:
# print(findsubsets(x,4))

In [14]:
len(findsubsets(x,4))

91390

In [15]:
# len(findsubsets(x,5))

In [16]:
# sub = findsubsets(x,2)
# sub = findsubsets(x,3)
sub = findsubsets(x,4)

In [17]:
# column_names = ["player-1", "player-2", "avg"]
# column_names = ["player-1", "player-2","player-3", "avg"]
column_names = ["player-1", "player-2","player-3","player-4", "avg"]

result_grams = pd.DataFrame(columns = column_names)

In [18]:
for t in sub:
    new_list = list(t)
    df = data[np.equal.outer(data.to_numpy(copy=False),  new_list).any(axis=1).all(axis=1)]
    count = 0;
    df = df.reset_index(drop=True)
    isempty = df.empty
    if(isempty):
        result_grams = result_grams.append({'player-1':new_list[0], 'player-2':new_list[1],'player-3':new_list[2],'player-4':new_list[3], 'avg':0.0}, ignore_index=True)
        continue
    for index, row in df.iterrows():
        for ind, p in enumerate(players):
                if(df.iloc[index][p] == new_list[0] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[1] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[2] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[3] ):
                    count = count + df.iloc[index][player_scores[ind]]
    avg = count/df.shape[0]
    result_grams = result_grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'player-3':new_list[2],'player-4':new_list[3], 'avg':avg}, ignore_index=True)

In [19]:
result_grams.head(100)

           player-1         player-2    player-3     player-4  avg
0   TS Roland-Jones        DJ Willey   CR Woakes   JC Buttler  0.0
1   TS Roland-Jones        DJ Willey  JWA Taylor    CR Woakes  0.0
2   TS Roland-Jones        DJ Willey   CR Woakes    LA Dawson  0.0
3   TS Roland-Jones        DJ Willey   AU Rashid    CR Woakes  0.0
4   TS Roland-Jones        DJ Willey   CR Woakes   EJG Morgan  0.0
..              ...              ...         ...          ...  ...
95  TS Roland-Jones        DJ Willey  JWA Taylor    BT Foakes  0.0
96           JJ Roy  TS Roland-Jones   DJ Willey   JWA Taylor  0.0
97  TS Roland-Jones        DJ Willey  JWA Taylor     T Banton  0.0
98  TS Roland-Jones        DJ Willey  JWA Taylor  LE Plunkett  0.0
99  TS Roland-Jones        DJ Willey    JL Denly   JWA Taylor  0.0

[100 rows x 5 columns]

In [20]:
result_grams.to_csv('F:/8TH SEM/CO425-FYP/England/Combined averages/England_4g.csv',sep=',')