In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load data file
data = pd.read_csv('pak.csv')

In [3]:
data.head()

,p1,p1-s,p2,p2-s,p3,p3-s,p4,p4-s,p5,p5-s,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,Mohammad Hafeez,0,Ahmed Shehzad,15,Younis Khan,9,Misbah-ul-Haq,58,Haris Sohail,23,...,Sarfaraz Ahmed,5,Shahid Afridi,67,Bilawal Bhatti,0,Ehsan Adil,6,Mohammad Irfan,1
1,Mohammad Hafeez,86,Ahmed Shehzad,55,Younis Khan,11,Misbah-ul-Haq,45,Shahid Afridi,11,...,Haris Sohail,6,Sarfaraz Ahmed,13,Bilawal Bhatti,9,Ehsan Adil,1,Mohammad Irfan,0
2,Ahmed Shehzad,47,Younis Khan,36,Haris Sohail,6,Misbah-ul-Haq,76,Sohaib Maqsood,0,...,Shahid Afridi,22,Wahab Riaz,4,Yasir Shah,13,Sohail Khan,7,Mohammad Irfan,1
3,Nasir Jamshed,0,Ahmed Shehzad,1,Younis Khan,0,Haris Sohail,0,Misbah-ul-Haq,7,...,Umar Akmal,59,Shahid Afridi,28,Wahab Riaz,3,Sohail Khan,1,Mohammad Irfan,2
4,Nasir Jamshed,1,Ahmed Shehzad,0,Haris Sohail,27,Misbah-ul-Haq,73,Umar Akmal,33,...,Sohaib Maqsood,21,Wahab Riaz,54,Sohail Khan,6,Rahat Ali,0,Mohammad Irfan,0

In [4]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [5]:
x = set()

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)

{'Sohaib Maqsood', 'Ahmed Shehzad', 'Sarfaraz Ahmed', 'Anwar Ali', 'Bilal Asif', 'Junaid Khan', 'Mohammad Amir', 'Mohammad Sami', 'Babar Azam', 'Misbah-ul-Haq', 'Saad Ali', 'Zafar Gohar', 'Mohammad Abbas', 'Iftikhar Ahmed', 'Shaheen Shah Afridi', 'Mohammad Hasnain', 'Hammad Azam', 'Hussain Talat', 'Haris Sohail', 'Nasir Jamshed', 'Sharjeel Khan', 'Asad Shafiq', 'Mohammad Hafeez', 'Kamran Akmal', 'Faheem Ashraf', 'Ehsan Adil', 'Shahid Afridi', 'Shadab Khan', 'Younis Khan', 'Shoaib Malik', 'Yasir Shah', 'Wahab Riaz', 'Bilawal Bhatti', 'Zulfiqar Babar', 'Umar Akmal', 'Imad Wasim', 'Sami Aslam', 'Shah Afridi', 'Fawad Alam', 'Aamer Yamin', 'Rahat Ali', 'Mohammad Nawaz', 'Azhar Ali', 'Saad Nasim', 'Mohammad Irfan', 'Saeed Ajmal', 'Usman Shinwari', 'Fakhar Zaman', 'Rumman Raees', 'Imam-ul-Haq', 'Sohail Khan', 'Asif Ali', 'Umar Gul', 'Hasan Ali', 'Mohammad Rizwan', 'Umar Amin', 'Abid Ali', 'Shan Masood'}

In [8]:
len(x)

58

In [9]:
unique_list = list(x)
print(unique_list)

['Sohaib Maqsood', 'Ahmed Shehzad', 'Sarfaraz Ahmed', 'Anwar Ali', 'Bilal Asif', 'Junaid Khan', 'Mohammad Amir', 'Mohammad Sami', 'Babar Azam', 'Misbah-ul-Haq', 'Saad Ali', 'Zafar Gohar', 'Mohammad Abbas', 'Iftikhar Ahmed', 'Shaheen Shah Afridi', 'Mohammad Hasnain', 'Hammad Azam', 'Hussain Talat', 'Haris Sohail', 'Nasir Jamshed', 'Sharjeel Khan', 'Asad Shafiq', 'Mohammad Hafeez', 'Kamran Akmal', 'Faheem Ashraf', 'Ehsan Adil', 'Shahid Afridi', 'Shadab Khan', 'Younis Khan', 'Shoaib Malik', 'Yasir Shah', 'Wahab Riaz', 'Bilawal Bhatti', 'Zulfiqar Babar', 'Umar Akmal', 'Imad Wasim', 'Sami Aslam', 'Shah Afridi', 'Fawad Alam', 'Aamer Yamin', 'Rahat Ali', 'Mohammad Nawaz', 'Azhar Ali', 'Saad Nasim', 'Mohammad Irfan', 'Saeed Ajmal', 'Usman Shinwari', 'Fakhar Zaman', 'Rumman Raees', 'Imam-ul-Haq', 'Sohail Khan', 'Asif Ali', 'Umar Gul', 'Hasan Ali', 'Mohammad Rizwan', 'Umar Amin', 'Abid Ali', 'Shan Masood']

In [10]:
column_names = ["player_name", "sum", "avg"]

result = pd.DataFrame(columns = column_names)

In [11]:
dictionary = dict()

for indx, name in enumerate(unique_list):
    count = 0
    sum = 0
    for index, row in data.iterrows():
        for ind, p in enumerate(players):
                if(data.iloc[index][p] == name ):
#                     print(name)
                    sum = sum + data.iloc[index][player_scores[ind]] 
                    count += 1
    avg = round((sum/count),2)
    print(name," : sum=",sum," , count=",count," , average=",round(avg,2))    
    dictionary[name] = avg
    result = result.append({'player_name':name, 'sum':sum, 'avg':avg}, ignore_index=True)
    
print(dictionary)

Sohaib Maqsood  : sum= 118  , count= 7  , average= 16.86
Ahmed Shehzad  : sum= 597  , count= 24  , average= 24.88
Sarfaraz Ahmed  : sum= 1821  , count= 78  , average= 23.35
Anwar Ali  : sum= 110  , count= 12  , average= 9.17
Bilal Asif  : sum= 40  , count= 3  , average= 13.33
Junaid Khan  : sum= 12  , count= 27  , average= 0.44
Mohammad Amir  : sum= 196  , count= 44  , average= 4.45
Mohammad Sami  : sum= 0  , count= 2  , average= 0.0
Babar Azam  : sum= 3174  , count= 70  , average= 45.34
Misbah-ul-Haq  : sum= 388  , count= 8  , average= 48.5
Saad Ali  : sum= 11  , count= 2  , average= 5.5
Zafar Gohar  : sum= 15  , count= 1  , average= 15.0
Mohammad Abbas  : sum= 0  , count= 3  , average= 0.0
Iftikhar Ahmed  : sum= 68  , count= 4  , average= 17.0
Shaheen Shah Afridi  : sum= 42  , count= 16  , average= 2.62
Mohammad Hasnain  : sum= 28  , count= 5  , average= 5.6
Hammad Azam  : sum= 0  , count= 2  , average= 0.0
Hussain Talat  : sum= 2  , count= 1  , average= 2.0
Haris Sohail  : sum= 1160  , count= 29  , average= 40.0
Nasir Jamshed  : sum= 1  , count= 2  , average= 0.5
Sharjeel Khan  : sum= 618  , count= 14  , average= 44.14
Asad Shafiq  : sum= 96  , count= 6  , average= 16.0
Mohammad Hafeez  : sum= 2059  , count= 63  , average= 32.68
Kamran Akmal  : sum= 68  , count= 3  , average= 22.67
Faheem Ashraf  : sum= 157  , count= 20  , average= 7.85
Ehsan Adil  : sum= 22  , count= 4  , average= 5.5
Shahid Afridi  : sum= 183  , count= 8  , average= 22.88
Shadab Khan  : sum= 337  , count= 41  , average= 8.22
Younis Khan  : sum= 102  , count= 6  , average= 17.0
Shoaib Malik  : sum= 2014  , count= 68  , average= 29.62
Yasir Shah  : sum= 127  , count= 23  , average= 5.52
Wahab Riaz  : sum= 337  , count= 40  , average= 8.43
Bilawal Bhatti  : sum= 9  , count= 2  , average= 4.5
Zulfiqar Babar  : sum= 1  , count= 1  , average= 1.0
Umar Akmal  : sum= 443  , count= 18  , average= 24.61
Imad Wasim  : sum= 952  , count= 52  , average= 18.31
Sami Aslam  : sum= 78  , count= 4  , average= 19.5
Shah Afridi  : sum= 0  , count= 1  , average= 0.0
Fawad Alam  : sum= 18  , count= 3  , average= 6.0
Aamer Yamin  : sum= 95  , count= 4  , average= 23.75
Rahat Ali  : sum= 8  , count= 12  , average= 0.67
Mohammad Nawaz  : sum= 199  , count= 15  , average= 13.27
Azhar Ali  : sum= 1347  , count= 38  , average= 35.45
Saad Nasim  : sum= 99  , count= 3  , average= 33.0
Mohammad Irfan  : sum= 9  , count= 21  , average= 0.43
Saeed Ajmal  : sum= 0  , count= 2  , average= 0.0
Usman Shinwari  : sum= 6  , count= 16  , average= 0.38
Fakhar Zaman  : sum= 1866  , count= 43  , average= 43.4
Rumman Raees  : sum= 27  , count= 9  , average= 3.0
Imam-ul-Haq  : sum= 1631  , count= 35  , average= 46.6
Sohail Khan  : sum= 21  , count= 7  , average= 3.0
Asif Ali  : sum= 352  , count= 15  , average= 23.47
Umar Gul  : sum= 6  , count= 5  , average= 1.2
Hasan Ali  : sum= 278  , count= 50  , average= 5.56
Mohammad Rizwan  : sum= 705  , count= 32  , average= 22.03
Umar Amin  : sum= 2  , count= 1  , average= 2.0
Abid Ali  : sum= 191  , count= 4  , average= 47.75
Shan Masood  : sum= 111  , count= 5  , average= 22.2
{'Sohaib Maqsood': 16.86, 'Ahmed Shehzad': 24.88, 'Sarfaraz Ahmed': 23.35, 'Anwar Ali': 9.17, 'Bilal Asif': 13.33, 'Junaid Khan': 0.44, 'Mohammad Amir': 4.45, 'Mohammad Sami': 0.0, 'Babar Azam': 45.34, 'Misbah-ul-Haq': 48.5, 'Saad Ali': 5.5, 'Zafar Gohar': 15.0, 'Mohammad Abbas': 0.0, 'Iftikhar Ahmed': 17.0, 'Shaheen Shah Afridi': 2.62, 'Mohammad Hasnain': 5.6, 'Hammad Azam': 0.0, 'Hussain Talat': 2.0, 'Haris Sohail': 40.0, 'Nasir Jamshed': 0.5, 'Sharjeel Khan': 44.14, 'Asad Shafiq': 16.0, 'Mohammad Hafeez': 32.68, 'Kamran Akmal': 22.67, 'Faheem Ashraf': 7.85, 'Ehsan Adil': 5.5, 'Shahid Afridi': 22.88, 'Shadab Khan': 8.22, 'Younis Khan': 17.0, 'Shoaib Malik': 29.62, 'Yasir Shah': 5.52, 'Wahab Riaz': 8.43, 'Bilawal Bhatti': 4.5, 'Zulfiqar Babar': 1.0, 'Umar Akmal': 24.61, 'Imad Wasim': 18.31, 'Sami Aslam': 19.5, 'Shah Afridi': 0.0, 'Fawad Alam': 6.0, 'Aamer Yamin': 23.75, 'Rahat Ali': 0.67, 'Mohammad Nawaz': 13.27, 'Azhar Ali': 35.45, 'Saad Nasim': 33.0, 'Mohammad Irfan': 0.43, 'Saeed Ajmal': 0.0, 'Usman Shinwari': 0.38, 'Fakhar Zaman': 43.4, 'Rumman Raees': 3.0, 'Imam-ul-Haq': 46.6, 'Sohail Khan': 3.0, 'Asif Ali': 23.47, 'Umar Gul': 1.2, 'Hasan Ali': 5.56, 'Mohammad Rizwan': 22.03, 'Umar Amin': 2.0, 'Abid Ali': 47.75, 'Shan Masood': 22.2}

In [12]:
# 2 grams - find beautiful combinations

In [13]:
#load data file
data2grams = pd.read_csv('pak2grams.csv')

In [14]:
data2grams.head()

         player-1        player-2    avg
0  Iftikhar Ahmed    Shoaib Malik  18.50
1  Iftikhar Ahmed      Yasir Shah  21.00
2  Iftikhar Ahmed  Sarfaraz Ahmed  47.25
3  Iftikhar Ahmed       Umar Amin   0.00
4  Iftikhar Ahmed     Shadab Khan  30.00

In [15]:
data2grams.shape

(1653, 3)

In [16]:
data2grams = data2grams[data2grams.avg != 0.0]

In [17]:
data2grams.shape

(683, 3)

In [18]:
data2grams = data2grams.reset_index(drop=True)

In [19]:
new_column_names = ["player-1", "player-2", "combined_avg","sum_of_individual"]

pak_beautiful2grams = pd.DataFrame(columns = new_column_names)

In [20]:
for index, row in data2grams.iterrows():
    player1 = data2grams.iloc[index]['player-1']
    player2 = data2grams.iloc[index]['player-2']
    combined = data2grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)
    if(combined > individual_avg_sum):
        pak_beautiful2grams = pak_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [21]:
pak_beautiful2grams.head()

         player-1        player-2  combined_avg  sum_of_individual
0  Iftikhar Ahmed  Sarfaraz Ahmed         47.25              40.35
1  Iftikhar Ahmed     Shadab Khan         30.00              25.22
2  Iftikhar Ahmed      Wahab Riaz         27.75              25.43
3  Iftikhar Ahmed    Haris Sohail         78.00              57.00
4  Iftikhar Ahmed      Imad Wasim         44.00              35.31

In [22]:
pak_beautiful2grams.shape

(356, 4)

In [23]:
pak_beautiful2grams.to_csv('pak_beautiful2grams.csv')

In [24]:
# 3 grams - find beautiful combinations

In [25]:
#load data file
data3grams = pd.read_csv('pak3grams.csv')

In [26]:
data3grams.head()

         player-1      player-2        player-3   avg
0  Iftikhar Ahmed  Shoaib Malik      Yasir Shah  34.0
1  Iftikhar Ahmed  Shoaib Malik  Sarfaraz Ahmed  63.5
2  Iftikhar Ahmed  Shoaib Malik       Umar Amin   0.0
3  Iftikhar Ahmed  Shoaib Malik     Shadab Khan   0.0
4  Iftikhar Ahmed  Shoaib Malik        Saad Ali   0.0

In [27]:
data3grams.shape

(30856, 4)

In [28]:
data3grams = data3grams[data3grams.avg != 0.0]

In [29]:
data3grams.shape

(3575, 4)

In [30]:
data3grams = data3grams.reset_index(drop=True)

In [32]:
new_column_names = ["player-1", "player-2", "player-3", "combined_avg","sum_of_individual"]

pak_beautiful3grams = pd.DataFrame(columns = new_column_names)

In [33]:
for index, row in data3grams.iterrows():
    player1 = data3grams.iloc[index]['player-1']
    player2 = data3grams.iloc[index]['player-2']
    player3 = data3grams.iloc[index]['player-3']
    combined = data3grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)
    if(combined > individual_avg_sum):
        pak_beautiful3grams = pak_beautiful3grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [34]:
pak_beautiful3grams.head()

,player-1,player-2,player-3,combined_avg,sum_of_individual
0,Iftikhar Ahmed,Yasir Shah,Sarfaraz Ahmed,85.0,45.87
1,Iftikhar Ahmed,Anwar Ali,Yasir Shah,44.0,31.69
2,Iftikhar Ahmed,Wahab Riaz,Sarfaraz Ahmed,58.0,48.78
3,Iftikhar Ahmed,Haris Sohail,Sarfaraz Ahmed,93.5,80.35
4,Iftikhar Ahmed,Abid Ali,Sarfaraz Ahmed,125.0,88.10

In [35]:
pak_beautiful3grams.shape

(1770, 5)

In [36]:
pak_beautiful3grams.to_csv('pak_beautiful3grams.csv')

In [37]:
# 4 grams - find beautiful combinations

In [38]:
#load data file
data4grams = pd.read_csv('pak4grams.csv')

In [39]:
data4grams.head()

         player-1      player-2      player-3        player-4   avg
0  Iftikhar Ahmed  Shoaib Malik    Yasir Shah  Sarfaraz Ahmed  98.0
1  Iftikhar Ahmed     Umar Amin  Shoaib Malik      Yasir Shah   0.0
2  Iftikhar Ahmed  Shoaib Malik    Yasir Shah     Shadab Khan   0.0
3  Iftikhar Ahmed  Shoaib Malik    Yasir Shah        Saad Ali   0.0
4  Iftikhar Ahmed  Shoaib Malik    Yasir Shah      Bilal Asif   0.0

In [40]:
data4grams.shape

(424270, 5)

In [41]:
data4grams = data4grams[data4grams.avg != 0.0]

In [42]:
data4grams.shape

(10175, 5)

In [43]:
data4grams = data4grams.reset_index(drop=True)

In [44]:
new_column_names = ["player-1", "player-2", "player-3", "player-4", "combined_avg","sum_of_individual"]

pak_beautiful4grams = pd.DataFrame(columns = new_column_names)

In [45]:
for index, row in data4grams.iterrows():
    player1 = data4grams.iloc[index]['player-1']
    player2 = data4grams.iloc[index]['player-2']
    player3 = data4grams.iloc[index]['player-3']
    player4 = data4grams.iloc[index]['player-4']
    combined = data4grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)+dictionary.get(player4)
    if(combined > individual_avg_sum):
        pak_beautiful4grams = pak_beautiful4grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'player-4':player4,'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [46]:
pak_beautiful4grams.head()

,player-1,player-2,player-3,player-4,combined_avg,sum_of_individual
0,Iftikhar Ahmed,Shoaib Malik,Yasir Shah,Sarfaraz Ahmed,98.0,75.49
1,Iftikhar Ahmed,Shoaib Malik,Wahab Riaz,Sarfaraz Ahmed,83.5,78.40
2,Iftikhar Ahmed,Yasir Shah,Wahab Riaz,Sarfaraz Ahmed,90.0,54.30
3,Iftikhar Ahmed,Yasir Shah,Mohammad Hafeez,Sarfaraz Ahmed,85.0,78.55
4,Iftikhar Ahmed,Yasir Shah,Mohammad Irfan,Sarfaraz Ahmed,85.0,46.30

In [47]:
pak_beautiful4grams.shape

(4975, 6)

In [48]:
pak_beautiful4grams.to_csv('pak_beautiful4grams.csv')